
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;700&family=Work+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;700&family=Work+Sans:wght@500;700&display=swap');


*{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
.header{
    height: 80px;
    width: 100%;
    
    display: flex;
    justify-content: center;
}
.nav{
   
    width: 80%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav .icon{
    display: flex;
    gap: 10px;
}
.nav .icon img{
    width: 86.041px;
    height: 40px;
}
.nav .icon h1 span{
    color: red;
}
.nav .icon h1{
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
}
.navbar a{
    color: #3C354F;
    text-align: center;
    font-family: Work Sans;
    font-size: 18px;
    text-decoration: none;
    font-weight: 200;
    padding-right: 20px;
}


.navbar button {
    height: 50px;
    width: 220px;
    border-radius: 10px;
    border: none;
    transition: 3s;
    
}
.navbar button:hover{
    box-shadow: 10px 50px 200px 2px;
    cursor: pointer;
}
.navbar button a span i{
color: red;
padding: 5px;
}
.banner{
    
    height: 75vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.banner .left_side{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
    width: 50%;
   
 background-image: url(images/Group\ 14.png);
 background-size: cover;
}
.banner .left_side .main_left {
    padding: 50px;
}
.banner .left_side .main_left h1{
text-align: center;
font-family: Work Sans;
font-size: 48px;
font-weight: 600;

}
.banner .left_side .main_left span{
    text-align: start;
font-family: Work Sans;
font-size: 95px;
font-style: normal;
font-weight: 800;
line-height: normal;
text-transform: uppercase;
background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;

}
.banner .left_side .main_left ul li{
    list-style: lower-greek;
   text-align: start;
    
}
.banner .left_side .main_left ul li a{
    line-height: 24px;
    margin-bottom: 20px;
}
.btn{
    
    width: 300px;
  
    display: flex;
    justify-content: start;
    gap: 20px;
    margin-top: 20px;
}
.btn .btn1{
    height: 40px;
    width: 100px;
    border: none;
    border-radius: 48px;
background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
}
.btn .btn1 a{
    text-decoration: none;
    color: white;
    font-size: 15px;
    
}

/* btn2 */
.btn .btn2{
    height: 40px;
    width: 100px;
    border: none;
    border-radius: 48px;
background: #4EC5F7;
}
.btn .btn2 a{
    text-decoration: none;
    color: white;
    font-size: 15px;
    
}


.banner .right_side{
    
    height: 75vh;
    width: 49%;
   
}
.banner .right_side img{
    height: 450px;
    width: 87vh
}
.template{
    display: flex;
    justify-content: center;
    align-items: center;
  
    height: 400px;
    width: 100%;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}
.temp_left{
   
    height: 400px;
    width: 60%;
    position: relative;
}
.temp_left img{
    height: 380px;
   
    position: absolute;
    right: 0px;
    bottom: 0px;
}
.temp_right{
    width: 30%;
   
    text-align: end;
}
.temp_right h2{
    margin-bottom: 10px;
    text-align: right;
font-family: Work Sans;
font-size: 32px;
font-style: normal;
font-weight: 700;
background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.temp_right p{
    color: #534C64;
    text-align: right;
    font-family: Work Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; 
}
.temp_right button{
    height: 38px;
    width: 100px;
    border-radius: 48px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    background: var(--linear,
 linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
}
.temp_right button a{
    text-decoration: none;
    color: white;
    font-size: 12px;
    padding: 10px;
}
.temp_right span{
    color: #534C64;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
}
/* Gmae card */
.game_card{
    
    height: 67vh;
    width: 100%;
}
.head_tag{
    text-align: center;
   padding: 15px;
  
}
.head_tag h3{
   font-size: 25px;
   padding: 5px;
}
.head_tag p {
padding: 10px;

}
.head_tag span{
 color: #FF42A5;
 font-size: 28px;
}

.game_temp{
   
    width: 80%;
    margin: 0px auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 280px;
}
.game_temp .card{

transition: 3s;
border-radius: 10px;

}

.game_temp .card:hover{
   
    cursor: pointer;
    box-shadow: 10px 100px 100px 5px rgb(122, 71, 71);
}

    .game_temp .card img{
    height: 230px;
    width: 220px;
    display: block;
    margin: 0px auto;
        }
    .game_temp .card p{
        font-size: 12px;
        text-align: center;
        padding: 10px;
    }

    .paly_card{
        height: 90vh;
        width: 80%;
       
       display: flex;
       justify-content: center;
       align-items: center;
       gap: 10px;
       margin: 0px auto;
    }
    .left_card{
       
        height: 300px;
        width: 30%;
        
    }
    .left_card h2{
    text-align: right;
    font-family: Work Sans;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    }
    .left_card h2 span{
        color: #FF42A5;
    }
    .left_card p{
        text-align: right;
        padding: 10px;
    }


    .right_card{
        
        height: 75vh;
        width:48%;
        display: block;
       
    }
    .right_card img{
        height: 400px;
        margin-left: 60px;
     
        
       
    }
    .sort_p img{
        height: 180px;
        position: relative;
        left: -60px;
        bottom:130px;
    }

    /* Career card */

    .careers{
        height: 90vh;
        width: 97%;
        margin: 50px auto;
        background-color: #c61a81;
        display: flex;
        justify-content: space-around;
    }
    .careers2{
        height: 80vh;
        width: 97%;
        margin: 30px auto;

       
        display: flex;
        justify-content: space-around;
    }




    .left_career{
        height: 40vh;
        width: 20%;
        
        height: auto;
        width: 40%;
        line-height: 22px;
        
    }
    .left_career h2{
    color: white;
    padding: 10px;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;

    }

    .left_career p{
        color: white;
        padding: 10px;
    }
    .left_career .ul{
        display: flex;
        gap: 60px;
        padding: 10px;
        color: white;
    }
    .left_career .ul .ul1 ul li a{
       text-decoration: none;
       color: white;
    
       
    }

    .ul .ul2 ul li a{
        text-align: right;
        text-decoration: none;
        color: white;


    }
    .left_career ul li{
        list-style: none;
    }
.ul button{
    height: 40px;
    width: 150px;
    border-radius: 10px;
    border: none;
    background-color: #f5f3f8;
    margin-top: 20px ;
    color: #FF42A5;
    font-size: 17px;
}
    .right_career{
       
        width: 50%;
        height: 80vh;
    }
    .right_career img{
        height: 80vh;
        width: 100%;
    }
    .logo_box{
        height: 200px;
       

    }
    .logo_box ul{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        
        padding: 10px;
    }
    .logo_box ul li{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 25px;
        border-radius: 40px;
        padding: 5px;
        transition: 1s;
        font-size: 13px;
    }


    .logo_box ul li:hover{
        border: 1.5px solid red;
        cursor: pointer;
        box-shadow: 10px 10px 200px 5px rgb(15, 173, 197);
    }

    .logo_box ul li a img{
        display: flex;
        gap: 20px;
        height: 25px;

    }
    .logo_box ul li a {
        padding: 10px;
       
    }
    .footer{
        height: 80vh;
        width: 100%;
        background-color: black;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .footer_card{
     
        height: 350px;
        width: 70%;
    }
    .logo_tag{
        display: flex;
        justify-content: center;
        padding: 10px;
        gap: 10px;
    }
    .logo_tag img{
        height: 35px;
    }
    .footer_card h1{
        color: white;
    }
    .footer_card h1 span{
        color: #F948B2;
    }
    .information ul{
        display: flex;
        justify-content: center;
        gap: 20px;
        padding-top: 30px;
    }
    .information ul li a{
        text-decoration: none;
        color: white;
        font-size: 15px;
    }
    .social_media ul li a img{
        height: 35px;
    }
    .social_media ul{
        display: flex;
        justify-content: center;
        gap: 30px;
        padding-top: 30px;
    }
    .about_us{
        color: white;
    }
    .about_us ul{
        display: flex;
        justify-content: center;
        gap: 50px;
    }
    .about_us ul li{
        list-style: none;
        padding-top: 30px;
    }
    .about_us ul li a{
        text-decoration: none;
        font-size: 12px;
        color: rgba(255, 255, 255, 0.60);
    }
    .copy_right p{
        color: rgba(255, 255, 255, 0.60);
        font-size: 12px;
        text-align: center; padding-top: 10px;
    }
  



